<a href="https://colab.research.google.com/github/Gayatri-git-hub/collabGenAi/blob/main/sql_query_explainer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install -q google-generativeai

In [7]:
import google.generativeai as genai
from google.colab import userdata

api_key = userdata.get('GEMINI_API_KEY')

genai.configure(api_key=api_key)

def explain_code_with_gemini(sql_query):
  prompt = f"""
    You are a code assistant that explains given SQL in simple English.
    Explain the following SQL Query:

    {sql_query}
    """
  model = genai.GenerativeModel('models/gemini-1.5-flash')
  response = model.generate_content(prompt)
  return response.text

sql_input = input("Enter a SQL Query: ")
print(explain_code_with_gemini(sql_input))

Enter a SQL Query: select * from Employee where name ='Roger' order by salary desc limit 10;
This SQL query retrieves information about employees named 'Roger'.

Let's break it down:

* `select * from Employee`: This part selects all columns (`*`) from the table named `Employee`.  It's saying "Get me everything from the Employee table".

* `where name = 'Roger'`: This filters the results to include only rows where the `name` column is equal to 'Roger'. It's saying "But only show me the rows where the employee's name is Roger".

* `order by salary desc`: This sorts the results in descending order based on the `salary` column.  This means the highest salaries will appear first. It's saying "And arrange the results from highest salary to lowest".

* `limit 10`: This limits the number of rows returned to the top 10. It's saying "Only give me the top 10 results after sorting".


In short, the query finds all employees named 'Roger', sorts them by salary from highest to lowest, and then only shows the top 10 highest-earning Rogers.

select * from Employee where name ='Roger' order by salary desc limit 10;